

$content-bg:rgba(0,0,0,0.9);
$section-color-1: #0000FF;
$section-color-2: #0088FF;
$section-color-3: #00FFFF;
$section-color-4: #00FF88;
$section-color-5: #00FF00;
$section-color-6: #88FF00;

$mobile-width: 500px;
$tablet-width: 768px;
$medium-width: 1000px;
