@import '_vars';

@mixin stripes($color1,$color2) {
  background: repeating-linear-gradient(
  45deg,
  $color1,
  $color1 20px,
  $color2 20px,
  $color2 40px
  );
}

$content-bg:rgba(0,0,0,0.9);
$section-color-1: #0000FF;
$section-color-2: #0088FF;
$section-color-3: #00FFFF;
$section-color-4: #00FF88;
$section-color-5: #00FF00;
$section-color-6: #88FF00;

$mobile-width: 500px;
$sm: 768px;
$m: 1000px;

html{
  height: 100%;
  box-sizing: border-box;
}
body {
  position: fixed;
}

body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  box-sizing: border-box;
  background-color: $syntax-bg;
  color: $syntax-fg;
  overflow: hidden;
  height: 100%;
  width: 100%;
  header{
    // transition: width 0.2s, top 0.2s;
    height: 40px;
    position: fixed;
    top: 10px;
    right: 20px;
    // background-color: rgba(0,0,0,1);
    color: white;
    .indicator{
      height: 38px;
      width: 140px;
      left: 0px;
      position: relative;
      z-index: 2;
    }
    #indicator{
      border: 1px solid white;
      top: 0px;
    }
    #bottom-indicator{
      border: 1px solid black;
      top: -40px;
      display: none;
    }

    #burger{
      display: none;
    }
    .nav-item{
      display: inline-block;
      margin: 10px;
      width: 120px;
      text-align: center;
      // text-decoration: none;
      // border: 1px solid red;
      &:hover{
        text-decoration: underline;
        text-underline-position: under;
        cursor: pointer;
        &:nth-child(1) {
          text-decoration-color: $section-color-1;
        }
        &:nth-child(2) {
          text-decoration-color: $section-color-2;
        }
        &:nth-child(3) {
          text-decoration-color: $section-color-3;
        }
        &:nth-child(4) {
          text-decoration-color: $section-color-4;
        }
        &:nth-child(5) {
          text-decoration-color: $section-color-5;
        }
        &:nth-child(6) {
          text-decoration-color: $section-color-6;
        }
      }
      // padding: 0;
    }
    .navbar-tablet{
      display: none;
    }

    .navbar{
      // position: relative;
      // top: -40px;
      // background-color: white;
      // border: 1px solid black;
      .nav-top{
        background: black;
        position: relative;
        top: -40px;
        display: flex;
        justify-content: space-around;
        height: 38px;
      }
      .nav-bottom{
        background: white;
        color: black;
        position: relative;
        top: -80px;
        display: flex;
        justify-content: space-around;
        transition: all 0.3s;
        transition-delay: 0.05s;
        height: 40px;
        overflow: hidden;
        &.hidden{
          height: 0;
          overflow: hidden;
          transition: all 0.3s;
          transition-delay: 0.05s;
        }
      }
      // .nav-item{
      //   display: inline-block;
      //   margin: 10px;
      //   width: 120px;
      //   text-align: center;
      //   // text-decoration: none;
      //   // border: 1px solid red;
      //   &:hover{
      //     text-decoration: underline;
      //     text-underline-position: under;
      //     cursor: pointer;
      //     &:nth-child(1) {
      //       text-decoration-color: $section-color-1;
      //     }
      //     &:nth-child(2) {
      //       text-decoration-color: $section-color-2;
      //     }
      //     &:nth-child(3) {
      //       text-decoration-color: $section-color-3;
      //     }
      //     &:nth-child(4) {
      //       text-decoration-color: $section-color-4;
      //     }
      //     &:nth-child(5) {
      //       text-decoration-color: $section-color-5;
      //     }
      //     &:nth-child(6) {
      //       text-decoration-color: $section-color-6;
      //     }
      //   }
      //   // padding: 0;
      // }
    }
  }
  @media only screen and (max-width: $m) {
    header {
      position: fixed;
      height: 40px;
      top: 0px;
      right: 0px;
      width: 100vw;
    }
  }
  @media only screen and (max-width: $sm) {
    header {
      #burger{
        // display: block;
        position: fixed;
        right: 4px;
        top: 4px;
        padding: 10px;
        background: black;
        display: inline-block;
        cursor: pointer;

        .bar1, .bar2, .bar3 {
          width: 35px;
          height: 5px;
          background-color: #fff;
          margin: 6px 0;
          transition: 0.4s;
        }

        &.change .bar1 {
          -webkit-transform: rotate(-45deg) translate(-9px, 6px);
          transform: rotate(-45deg) translate(-9px, 6px);
        }

        &.change .bar2 {opacity: 0;}

        &.change .bar3 {
          -webkit-transform: rotate(45deg) translate(-8px, -8px);
          transform: rotate(45deg) translate(-8px, -8px);
        }
      }
      .indicator{
        display: none;
      }
      .navbar-tablet{
        display: flex;
        max-height: 0;
        transition: all 1s;
        flex-direction: column;
        background-color: black;
        overflow: hidden;
        &.active{
          max-height: 500px;
        }
        // .nav-item{
        //   display: inline-block;
        //   margin: 10px;
        //   width: 120px;
        //   text-align: center;
        //   // text-decoration: none;
        //   // border: 1px solid red;
        //   &:hover{
        //     text-decoration: underline;
        //     text-underline-position: under;
        //     cursor: pointer;
        //     &:nth-child(1) {
        //       text-decoration-color: $section-color-1;
        //     }
        //     &:nth-child(2) {
        //       text-decoration-color: $section-color-2;
        //     }
        //     &:nth-child(3) {
        //       text-decoration-color: $section-color-3;
        //     }
        //     &:nth-child(4) {
        //       text-decoration-color: $section-color-4;
        //     }
        //     &:nth-child(5) {
        //       text-decoration-color: $section-color-5;
        //     }
        //     &:nth-child(6) {
        //       text-decoration-color: $section-color-6;
        //     }
        //   }
        // padding: 0;
        // }
      }
      .navbar{
        display: none;
        //     top:0;
        //     .nav-top{
        //       height: 0;
        //       overflow: hidden;
        //       background: black;
        //       flex-direction: column;
        //       justify-content: flex-start;
        //     }
        //     &.active{
        //       .nav-top{
        //         height: 600%;
        //       }
        //     }
      }
    }
  }
}
h1, h2, h3, .nav-item, .links{
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2em;
}
span{
  display: inline-block;
  background-color: $content-bg;
  padding: 20px;
}
main{
  height: 100%;
  display: flex;
  flex-direction: column;
  .ul-1 {
    text-decoration: underline;
    text-decoration-color: $section-color-1;
    text-underline-position: under;
  }
  .ul-2 {
    text-decoration: underline;
    text-decoration-color: $section-color-2;
    text-underline-position: under;
  }
  .ul-3 {
    text-decoration: underline;
    text-decoration-color: $section-color-3;
    text-underline-position: under;
  }
  .ul-4 {
    text-decoration: underline;
    text-decoration-color: $section-color-4;
    text-underline-position: under;
  }
  .ul-5 {
    text-decoration: underline;
    text-decoration-color: $section-color-5;
    text-underline-position: under;
  }
  .ul-6 {
    text-decoration: underline;
    text-decoration-color: $section-color-6;
    text-underline-position: under;
  }
  .scroll{
    flex-grow: 1;  /*ensures that the container will take up the full height of the parent container*/
    overflow-y: auto;  /*adds scroll to this container*/
    scroll-snap-type: y mandatory;
  }
  .content{
    padding: 20px;
    background-color: $content-bg;
  }
  .side-scroll-container{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;


    .side-scroll{
      width: 100%;
      flex: none;
      scroll-snap-align: center;

      margin-right: 20px;
      overflow-y: scroll;
      // .content{
      //   padding: 20px;
      //   background-color: $content-bg;
      //
      // }
    }
  }
  .bg-stripes{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    overflow: hidden;
    z-index: -1;
    .bg{
      width: 600vw;
      height: 100vh;

      background:repeating-linear-gradient(
      45deg,
      transparent,
      transparent 20px,
      rgba(0,0,0,0.2) 20px,
      rgba(0,0,0,0.2) 40px
      // ),linear-gradient(90deg,blue, magenta ,red, orange, yellow, green );
      ),linear-gradient(90deg,#0000FF, #0088FF ,#00FFFF, #00FF88, #00FF00, #88FF00 );

    }
  }
  @media only screen and (max-width: $sm) {
    .bg-stripes{
      // display: none;
    }
    .bg{
      height: 700vh;
      width: 100vw;
      background:repeating-linear-gradient(
      45deg,
      transparent,
      transparent 20px,
      rgba(0,0,0,0.2) 20px,
      rgba(0,0,0,0.2) 40px
      ),linear-gradient(0deg,#0000FF, #0088FF ,#00FFFF, #00FF88, #00FF00, #88FF00 );
    }
  }
  section{
    height: 100vh;
    scroll-snap-align: start;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .container{
      height: 90vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
    //   padding-top: 90px;
    //
    // }
    // @media only screen and (max-width: $sm) {
    //   .container{
    //     padding-top: 0px;
    //   }
    //   h2{
    //     margin-top:0;
    //   }
    }
  }
}
p{
  transition: max-height 1s;
  max-height: 500px;
  max-height: 500px;
  overflow: hidden;
}
.hidden{
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
  transition-delay: 0.5s;
}


.join{
  height: 100px;
}

.flex{
  display: flex;
}
.column{
  flex-direction: column;
}
.space-between{
  justify-content: space-between;
}
.align-items-flex-end{
  align-items: flex-end;
}
.left{
  width: calc(200%/3);
}
.right{
  width: calc(100%/3);
}

a{
  color: white;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
    text-underline-position: under;
    cursor: pointer;
  }
}

#projects{
  a:hover{
      text-decoration-color: $section-color-5;
    }
}
// #projects{
//   a{
//     color: white;
//     text-decoration: none;
//     text-decoration-color: $section-color-5;
//     &:hover{
//       text-decoration: underline;
//       text-underline-position: under;
//       cursor: pointer;
//     }
//   }
// }
img{
  object-fit: scale-down;
  width: 100%;
}
